{% extends 'code_pr/base.html' %}

{% block content %}
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
        {% for code in pages %}
          <div class="col-md-4 col-sm-6" style="margin-bottom:2em;">
              <div class="card">
                <h5 class="card-header">{{code.lang}}</h5>
                <div class="card-body">
                  <h5 class="card-title">{{ code.name }}</h5>
                  <p class="card-text" style='color:black'>{{ code.desc }}</p>
                  <a href="{% url 'problem' id=code.id %}" class="btn btn-primary">Go code!</a>
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}

    