{% extends 'code_pr/base.html' %} {% load static %} {% block content%}
<!-- Heading Starts Here -->
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: left;color: white;">
        <h2 style="text-decoration: underline;">Problem</h1>
        <h4>{{page.title}}</h2>
        <h2 style="text-decoration: underline;">Description</h2>
        <h4>{{page.desc}}</h4>
        <form method="POST" style="text-align: left;color: white;">
          {% csrf_token %}
          <div class="form-group">
            <label for="answer">Enter your Code</label>
            <textarea name='answer' rows="4" cols="70" class="form-control" > {{answer}}</textarea>
            {% if error and result != True %}
            <div class="alert alert-warning"> Warning : {{ error }}</div>
            {% elif result %}
            <div class="alert alert-success"> Congrats your answer was correct </div>
            {% endif %}
          </div>
          <button class="btn" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Heading Ends Here -->

{% endblock content %}
